body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
    padding-top: 10px;
    padding-bottom: 10px;
}
/*.container-fluid {*/
/*    padding-left: 10px !important;*/
/*    padding-right: 10px !important;*/
/*}*/
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 3px;
}

.summary-card,.relative-ratio{
    border: 2px solid #e0e0e0;
}

.summary-card.picked,.relative-ratio-picked{
    border: 2px solid #ffe600;
}

.relative-ratio-picked,.relative-ratio{
    margin: 3px;
}

#stockTable tr.picked td:first-child{
    border-left: 2px solid #ffe600;
}

#indexCards .col-sm-2 {
    padding-right: 3px;
    padding-left: 3px;
}

.float-right {
    float:right;
}

/*https://stackoverflow.com/questions/20429229/bootstrap-3-navigation-bar-right-margin-is-not-supposed-to-be-15px*/
.navbar-right {
    margin-right: 0px;
}

.ad {
    font-size: 12px;
    overflow: hidden;
}

.show-grid {
    margin-bottom: 5px;
}
.show-grid-lg {
    margin-bottom: 10px;
}

.container-action .glyphicon {
    margin: 0px 3px;
}

.alert {
    padding: 5px 15px;
    margin-bottom: 5px;
}

#logo {
    font-weight: bold;
}

th,
td {
    cursor: default;
}

[role="handle"] {
    cursor: move;
}
.positive {
    color: #FC2E17;
}
.negative {
    color: #4DCD53;
}

.target-reached {
    color: #ffde00;
}

.target-not-reached {
    color: #67b3ff;
}

#selected-list-name {
    color: #ffd574;
}

#contextMenu{
    background-color: #4e4e4e;
}
/*.input-group-addon.btn-warning,*/
/*.input-group-addon.btn-danger {*/
/*    color: #fff;*/
/*}*/

.ui-sortable-helper {
    display: table;
}

.popover {
    max-width: 1000px;
}
iframe.editor {
    border: 0;
    width: 220px;
    height: 130px;
}
.container-editor {
    width: 210px;
}
iframe.settings {
    border: 0;
    width: 510px;
    height: 500px;
}
.container-settings {
    width: 500px;
}
#displayColumns,
#availableColumns {
    height: 320px;
}
.col-toolbar-vertical {
    padding-top: 30px;
    line-height: 50px;
    text-align: center;
}

iframe.impexp {
    border: 0;
    width: 610px;
    height: 550px;
}
.container-impexp {
    width: 600px;
}

.container-impexp #userSettings {
    font-size: 14px;
    resize: none;
}

/*on smaller device, use smaller fonts for the stocktable*/
@media (max-device-width: 1200px) {
    #stockTable{
        font-size: 15px;
    }
}

/*disable long press context menu on ios on href anchor*/
a {
  /*-webkit-user-select: none; /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}

/*#resetWatchlistDropList*/
/*{*/
/*   max-height: calc(100vh - 50px);*/
/*   overflow-y: auto;*/
/*}*/
/*#stockTable td.btn-default {*/
/*    background-color: transparent;*/
/*}*/